
<h1>My App </h1>
<p>Aplicacion dedicada a la gestion administrativa para la inscripcion de alumnos a cursos orientados a la tecnologia.</p>
<div class="grid">
    <div class="col-4">
      <mat-card>
        <!-- HEADER -->
        <mat-card-header>
          <mat-card-title>
            Alumnos <mat-icon>person_book</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <!-- CONTENIDO -->
        <mat-card-content>
          <p style="font-size: 2rem;">{{students}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <!-- HEADER -->
        <mat-card-header>
          <mat-card-title>
            Cursos <mat-icon>auto_stories</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <!-- CONTENIDO -->
        <mat-card-content>
          <p style="font-size: 2rem;">{{courses}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <!-- HEADER -->
        <mat-card-header>
          <mat-card-title>
            Materias <mat-icon>folder</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <!-- CONTENIDO -->
        <mat-card-content>
          <p style="font-size: 2rem;">3</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  