<button routerLink=".." mat-icon-button>
    <mat-icon>arrow_back</mat-icon> 
  </button>
<div class="grid">
    <div class="col-6">
        
        <mat-card class="course-card">
          <mat-card-header>  
            <mat-icon><span>event</span></mat-icon>        
            <mat-card-title>Detalle</mat-card-title>   
              
            <mat-card-subtitle><b>Titulo: </b>{{course?.title | uppercase}}</mat-card-subtitle>
            <mat-card-subtitle><b>Descripcion: </b>{{course?.description}}</mat-card-subtitle>
            <mat-card-subtitle><b>Fecha Inicio: </b>{{course?.startDate | date:"dd/MM/yy"}}</mat-card-subtitle>
            <mat-card-subtitle><b>Fecha Fin: </b>{{course?.endDate | date:"dd/MM/yy"}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
       
    </div>
</div>