<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR -->
    <mat-drawer  #drawer class="example-sidenav" mode="side">
    
        <ul>
            <a href="">Inicio</a><br>
            <a href="">Alumnos</a><br>
            <a href="">Clases</a><br>
            <a href="">Cursos</a>
        </ul>
     
    </mat-drawer>
    <!-- FIN SIDEBAR -->

    <!-- CONTENT WRAPPER -->
    <div class="example-sidenav-content">
        <!-- TOOLBAR -->
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App Ayala</span>
        </mat-toolbar>
        <!-- FIN TOOLBAR -->

        <main class="p-3">
            <!-- <app-home></app-home> -->
            <app-students></app-students>
        </main>
    </div>

  </mat-drawer-container>
