<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR -->
    <mat-drawer  
    opened
    mode="over"
    #drawer 
    class="example-sidenav"
    mode="side"
    >
       <app-nav-menu></app-nav-menu>
     
    </mat-drawer>
    <!-- FIN SIDEBAR -->

    <!-- CONTENT WRAPPER -->
    <div class="example-sidenav-content">
        <!-- TOOLBAR -->
        <app-toolbar [drawer]="drawer"></app-toolbar>
        <!-- FIN TOOLBAR -->

        <main class="p-3">
             <router-outlet></router-outlet>
        </main>
    </div>

  </mat-drawer-container>
